nav {
    border-bottom: thin solid black;
}

#navbar-name {
    font-size: 1.3rem;
    margin-left: 1rem;
    color: #24a745;
}

.navbar-nav {
    margin-right: 1rem;
}

body {
    background-color: #424242;
    position: relative;
    padding-top: 1.5rem;
    font-family: 'Raleway', sans-serif;
}

.section-labels {
    font-family: 'Fira Sans', sans-serif;
}

.about-area {
    margin-bottom: 5rem;
}

#headshot {
    width: 80%;
    float: left;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.card-text {
    font-size: 0.9rem;
}

.fa-linkedin {
    margin-right: 0.7rem;
    color: black;
}

.fa-envelope {
    margin-right: 0.7rem;
    color: black;
}

.fa-github {
    color: black;
}

.skills-container {
    margin-top: 0.8rem;
}

.skill-rows {
    margin-bottom: 1.2rem;
}

.badge {
    font-size: 0.9rem;
    margin-right: 0.3rem;
}

#projects-div {
    color: gray;
    padding-top: 3.3rem;
}

#projects-title {
    margin-bottom: 2rem;
    font-size: 3rem;
    color: white;
}

.ind-project {
    width: 60%;
    margin-bottom: 1.5rem;
}

h5 {
    color: #28a745;
}

.card-text {
    color: black;
}

.fa-lg {
    color: gray;
}

.fa-python {
    color: gray;
}

.fa-external-link-alt {
    color: gray;
}

.contact-div {
    background-color: #e9ecef;
    height: 14rem;
    padding-top: 1.7rem;
}

#contact-heading {
    margin-bottom: 3rem;
    font-size: 3rem;
}

.bottom-icons {
    margin-right: 1rem;
}

#bottom-proj-row {
    margin-bottom: 2rem;
}

.fa-angellist {
    color: black;
}

.fa-lg:hover {
    color: black;
}

.fa-2x:hover {
    color: #28a745;
}

.fa-3x:hover {
    color: #28a745;
}

a:hover {
    text-decoration: none;
}

#notfound {
    color: gray;
}
