nav {
    border-bottom: thin solid black;
}

body {
    background-color: #424242;
}

#headshot {
    width: 80%;
    float: left;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.card-text {
    font-size: 0.9rem;
}

.fa-linkedin {
    margin-right: 0.7rem;
    color: black;
}

.fa-envelope {
    margin-right: 0.7rem;
    color: black;
}

.fa-github {
    color: black;
}

.skills-container {
    margin-top: 0.8rem;
}

.skill-rows {
    margin-bottom: 1.2rem;
}

.badge {
    font-size: 0.9rem;
    margin-right: 0.3rem;
}

#projects-div {
    color: gray;
}

#projects-title {
    margin-bottom: 4rem;
    font-size: 3rem;
    color: white;
}

.ind-project {
    width: 60%;
    margin-bottom: 1.5rem;
}

.card-text {
    color: black;
}

.fa-lg {
    color: gray;
}

.contact-div {
    background-color: #e9ecef;
    height: 14rem;
    padding-top: 2rem;
}

#contact-heading {
    margin-bottom: 3rem;
    font-size: 3rem;
}

.bottom-icons {
    margin-right: 1rem;
}
