nav {
    border-bottom: thin solid black;
}

/*#navbar-name {
    border: thin black solid;
    border-radius: 12px;
    padding: 0.4rem;
}*/

img {
    width: 80%;
    float: left;
    margin-right: 1rem;
    margin-bottom: 1rem;
    border: thin gray solid;
}

/*#linkedin-top {
    margin: auto;
}

#github-top {
    margin: auto;
}*/

.skill-rows {
    margin-bottom: 1.2rem;
}

.badge {
    font-size: 0.9rem;
}